.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: inline-block;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 3px;
}

.player1 {
    background-color: yellow;
}

.player2 {
    background-color: red;
}
